* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-image: linear-gradient(white ,lightblue);
    
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    
}

.main{
    display: flex;
    color: white;
    background-color: white;
    box-shadow:  0 35px 55px rgba(0,0,0,0.4);
    padding: 70px;
    padding-left: 110px;
    padding-right: 110px;
}

.container{

    position: relative;
    width: 100%;
    max-width: 1440px;
    min-height: 300px;
    background-color: white;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
   
}

.container .leftSide{
    
    position: relative;
    background-color: hsl(31, 77%, 52%);
    padding: 40px;
}

.container .centre{
    position: relative;
    background-color: hsl(184, 100%, 22%);
    padding: 40px;
    
}


.container .rightSide{
    position: relative;
    background-color: hsl(179, 100%, 13%);
    padding: 40px;
}

 .head{
    display: flex;
    color: white;
    padding-top: 50px;
    font-family: 'Big Shoulders Display', cursive;
    font-size: larger;
}

.para{
    font-family: 'Lexend Deca', sans-serif;
    font-size: medium;
    color: white;
    padding-top: 30px;
    margin: 5px;
    word-spacing: 1px;
    line-height: 1.5em;
}

.container .leftSide .more .button {
   
    display: flex;

    background-color: white; 
    border: none;
    color: hsl(31, 77%, 52%);
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 20px;
    height: 50px;
    width: 200px;
    cursor: pointer;
}

.container .centre .more .button {
   
    
    background-color: white; 
    border: none;
    color: hsl(184, 100%, 22%);
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 20px;
    height: 50px;
    width: 200px;
    cursor: pointer;
}


.container .rightSide .more .button {
   
    background-color: white; 
    cursor: pointer;
    border: none;
    color: hsl(179, 100%, 13%);
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 20px;
    height: 50px;
    width: 200px;
}